
* {
    box-sizing: border-box;
}

a{
    color: blue;
    text-decoration: none;
}

.logo,
a{
    font-family: 'Inconsolata';
    color: blue;
    text-decoration: none;
}

body{
    background-repeat: no-repeat;
    background-size: auto;
    background: cyan;
}

.logo{
    margin: 0;
	padding: 10px;
	font-weight: 700;
    font-size: 1em;
    font-family: 'Libre Barcode 128';
    font-size: 50px;
    text-decoration: none;
}

.index{
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
    min-height: 60vh;
    font-family: 'Inconsolata';
    font-size: 30px;
    text-decoration: none;
}


.footer {
	background: rgba(0, 0, 0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Inconsolata';
  } 

